body {
  background-color: rgb(104, 104, 104);
}

#clock {
  text-align: center;
  font-size: 7rem;
  color: white;
}

#title,
#date-elements {
  text-align: center;
  font-size: 3.5rem;
  color: white;
}
